<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.inacap.eva4_danieljara">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EVA4_DanielJara">
        <activity
            android:name=".JugadorEliminarActivity"
            android:exported="true" />
        <activity
            android:name=".ModificarJugadorActivity"
            android:exported="true" />
        <activity
            android:name=".IngresarJugadorActivity"
            android:exported="true" />
        <activity
            android:name=".VerJugadorActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>